body {
    background-color: #fefae0;
    font-family: "Consolas", "Courier New", Courier, monospace;
}

.boarder-box {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 1.5rem;
}

#columns-container {
    margin-bottom: 20px;
}

.column-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
}

.column-row label {
  white-space: nowrap;
  min-width: 60px;
}

.input-field {
    width: 100%;
    padding: 8px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: var(--bs-border-radius);
}
.input-field-generate {
    margin-bottom: 50px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.add-delete-buttons {
    display: flex;
    gap: 10px;
}

.generate {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: auto;
}
